<section class="container-fluid">
    <div class="row">
        <div class="col-lg-12 sub-hero-section">
            <div class="container pb-2">
                <h6>Our Team</h6>
                <div class="divider"></div>
                <h2>Building Incredible Products. It’s Who We Are.</h2>
            </div>
        </div>
        <div class="jumbotron mb-0 jumbotron-fluid fluid">
            <div class="container">
                <h1 class="display-3 pb-t mb-t">About MsV4</h1>
                <p class="lead">Within 3 years MsV4 has built a leading product and design firm specialized in using JavaScript to create mobile and web applications. Our team of 150+ team members in Toronto include some of the most talented AngularJS and React developers in the world. Coupled together with Lean UX product design, solutions consulting, continuous delivery and Agile best practices, MsV4’s team of experts ensures clients are successfully creating and deploying new technologies to lead their industries.</p>
            </div>
        </div>
    </div>
</section>
<div class="purplesqr pos-rel"></div>
<!--Recent Posts-->
<section class="bg-purple py-3 text-white">
    <section class="container pb-3">
        <div class="row">
            <div class="col-lg-12 py-3 my-3">
                <h1>Recent Posts</h1>
            </div>
        </div>
        <div class="row">
            <div class="card-columns card-ms no-scale no-shadow">
                <a href=":void(0)" class="card">
                    <img class="card-img-top" src="../../assets/img/avatar_1_zps8e1c80cd.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Is your eCommerce Platform Optimized to Drive Revenue?</h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Updated 3 mins ago by Manjeet Singh </small>
                    </div>
                </a>
                <a href=":void(0)" class="card">
                    <div class="card-block">
                        <h4 class="card-title">Building Customer Trust Through Security</h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Updated 3 mins ago by Manjeet Singh </small>
                    </div>
                </a>
                <a href=":void(0)" class="card">
                    <div class="card-block">
                        <h4 class="card-title">Why MsV4 Builds Native Mobile Apps Using JavaScript?</h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Updated 3 mins ago by Manjeet Singh </small>
                    </div>
                </a>
                <a href=":void(0)" class="card">
                    <img class="card-img-top" src="../../assets/img/avatar_2_zps7de12f8b.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Why MsV4 Builds Native Mobile Apps Using JavaScript?</h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Updated 3 mins ago by Manjeet Singh </small>
                    </div>
                </a>
                <a href=":void(0)" class="card">
                    <img class="card-img-top" src="../../assets/img/avatar_1_zps8e1c80cd.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Building Customer Trust Through Security</h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Updated 3 mins ago by Manjeet Singh </small>
                    </div>
                </a>
                <a href=":void(0)" class="card">
                    <div class="card-block">
                        <h4 class="card-title">Building Customer Trust Through Security</h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Updated 3 mins ago by Manjeet Singh </small>
                    </div>
                </a>
                <a href=":void(0)" class="card">
                    <img class="card-img-top" src="../../assets/img/avatar_1_zps8e1c80cd.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Building Customer Trust Through Security</h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Updated 3 mins ago by Manjeet Singh </small>
                    </div>
                </a>
                <a href=":void(0)" class="card">
                    <div class="card-block">
                        <h4 class="card-title">Why MsV4 Builds Native Mobile Apps Using JavaScript?</h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Updated 3 mins ago by Manjeet Singh </small>
                    </div>
                </a>
                <a href=":void(0)" class="card">
                    <img class="card-img-top" src="../../assets/img/avatar_2_zps7de12f8b.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Building Customer Trust Through Security</h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Updated 3 mins ago by Manjeet Singh </small>
                    </div>
                </a>
                <a href=":void(0)" class="card">
                    <img class="card-img-top" src="../../assets/img/avatar_2_zps7de12f8b.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Why MsV4 Builds Native Mobile Apps Using JavaScript?</h4>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Updated 3 mins ago by Manjeet Singh </small>
                    </div>
                </a>
            </div>
        </div>
    </section>
</section>
<!--./Recent Posts-->
<!--Upgrade Area-->
<section class="bg-purple-light py-3 text-white upgradewrap">
    <section class="container py-3">
        <div class="row pt-3">
            <div class="col-sm-6">
                <h2>Upgrading Your eCommerce Platform</h2>
                <h5 class="py-3">70% of retail technology budgets are spent patching and maintaining legacy eCommerce code.</h5>
                <h5>Download our whitepaper and uncover the pros and cons of upgrading, migrating, or replacing your eCommerce platform.</h5>
            </div>
            <div class="col-sm-6">
                <h3>You will be redirected to the download after filling out this form. </h3>
                <form class="py-3 form-onpurple">
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Enter First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                        <label for="company">Company</label>
                        <input type="text" class="form-control" id="company" placeholder="Enter Company Name">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
            </div>
        </div>
    </section>
</section>
<!--./Upgrade Area-->