<nav class="navbar navbar-toggleable-sm navbar-light">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleMenu($event)" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">MsCreativePixel</a>
    <div class="navbar-collapse" id="navbarText" [@slideInOut]="menuState">
        <ul class="navbar-nav text-right-sm">
            <li class="nav-item">
                <a class="nav-link" (click)="toggleMenu($event)" [routerLink]="['home']" [routerLinkActive]="['active']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="toggleMenu($event)" [routerLink]="['about']" [routerLinkActive]="['active']">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="toggleMenu($event)" [routerLink]="['services']" [routerLinkActive]="['active']">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="toggleMenu($event)" [routerLink]="['work']" [routerLinkActive]="['active']">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="toggleMenu($event)" [routerLink]="['blog']" [routerLinkActive]="['active']">Blog</a>
            </li>
            <li class="nav-item hidden-xl-down" [hidden]="!isDashboard">
                <a class="nav-link" (click)="toggleMenu($event)" [routerLink]="['dashboard']" [routerLinkActive]="['active']">Dashboard</a>
            </li>
            <li class="nav-item" [hidden]="isDashboard">
                <a class="nav-link" (click)="toggleMenu($event)" [routerLink]="['login']" [routerLinkActive]="['active']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-primary" role="button">Contact Us</a>
            </li>
        </ul>
    </div>
  </div>
</nav>
<alert></alert>
<router-outlet></router-outlet>
<!--Foo-->
<footer class="bg-purple text-white py-3 text-center">
    <div class="container copyright">
        <div class="col-xs-12">
            &#169; MsCreativePixel.io, 2017.   All Rights Reserved. Privacy Policy
        </div>
    </div>
</footer>
<!--./Foo-->